body{
    background-image: url("../img/fundo.png");
    margin: 0;
    padding: 0;
}
.titulo {
    font-size: 100px;
    color: white;
    text-align: center;
}

.sub-titulo {}

.fonte {
    font-style: calibri;
    font-size: 30px;
    color: white
}

.caixa-texto {
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 105px;
    position: relative;
}

/*BOTOES*/
.site-header, .site-footer {
    background-color: blue;
    height: 2vh;
    width: 100vw;
}

.navegar ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.navegar a {
    color: white;
    text-decoration: none;
}

.navegar li {
    padding: 0 15px;
}

/*MENU SUSPENSO*/
.mainmenubtn {
    background-color: rgb(12, 73, 240);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-top: 10px;
}

.mainmenubtn:hover {
    background-color: blue;
}

.dropdown {
    position: relative;
    top: 5px;
    left: 1150px;
    display: inline-block;
}

.dropdown-child {
    display: none;
    background-color: rgb(12, 73, 240);
    min-width: 200px;
}

.dropdown-child a {
    color: blue;
    padding: 20px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-child {
    display: block;
}