/*CORPO*/
body{
    margin: 0;
    padding: 0;
}

.img-perfil{
    width: 100px;
    border-radius: 70px;
    display: inline-block;
    margin: 0;

}
.titulo {
    font-size: 100px;
    color: white;
    text-align: center;
    margin: 0;
}

.sub-titulo {}

.fonte {
    font-style: arial;
    font-size: 30px;
    color: white
}

.caixa-texto {
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 105px;
    position: relative;
}

.site-header {
    background-color: black;
}

.site-main {
    background-color: black;
}

.site-footer {}

/*BOTOES*/
.navegar ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
}

.navegar a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.navegar li {
    padding: 0 15px;
}

/*MENU SUSPENSO*/
.mainmenubtn {
    background-color: rgb(12, 73, 240);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.mainmenubtn:hover {
    background-color: blue;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-child {
    display: none;
    background-color: rgb(12, 73, 240);
    min-width: 200px;
}

.dropdown-child a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-child {
    display: block;
}